name: Test
on: workflow_call
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        runner: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.runner }}
    env:
      expected: |-
        here is some "text". this is not a newline: [\n]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Dynamic Use
        uses: ./.
        id: parrot
        with:
          $uses: ./.github/workflows/test
          echo: ${{ env.expected }}
      - name: Validate outputs
        env:
          actual: ${{ fromJSON(steps.parrot.outputs.outputs).echo }}
        shell: bash
        run: |
          if [[ "$expected" != "$actual" ]]; then
            echo "::error::output mismatch! expected=$expected, actual=$actual"
            exit 1
          fi
